{% extends 'base.html' %}

{% block title %}
    Ищи новые идеии вместе с Pinterest
{% endblock %}

{% block content %}
    <div class="text-center">
        <p class="text-center fw-bold fs-1" style="margin-top: 12%;">
            Найдите Новые Идеи Вместе С Pinterest
        </p>
        <a class="text-decoration-none fs-2 fw-bold" href="{% url 'category' %}">
            Перейти К Категориям
        </a>
        
    </div> 
    <div class="text-center">
        <a class="text-decoration-none fs-4 fw-bold" href="{% url 'allpins' %}">
            Или воспльзуйтесь удобным поиском
        </a>
    </div>
    
    
{% endblock %}